@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-background: #151a36;
  --color-primary: #51e4b8;

  --gradient: linear-gradient(to right, #884aff, #e93330);
  --color-theme-text: #fff;
  --color-theme-scrollbar: #fff;




}

@layer base {
  /* change the default scrollbar */
  ::-webkit-scrollbar {
    width: 7px;
    /* height: 3px */
  }

  /* change the scrollbar's background */
  ::-webkit-scrollbar-track {
    background: var(--color-theme-background);
  }

  /* change the scrollbar's color */
  ::-webkit-scrollbar-thumb {
    background: #ffffff80;
    cursor: pointer;
  }

  /* change the scrollbar's hover color */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-theme-text);
  }
}


/* animations */
@keyframes up-down-animation {
  0% {
    opacity: 0;
    translate: 0 75px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes blur-shadow-black {
  0% {
    backdrop-filter: blur(0px);
 

  }
  100% {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
 
  }
}


@keyframes entry-animation {
  0% {
    opacity: 0;
    translate: -200px 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes cover-animation {
  0% {
    opacity: 0;
    translate: 200px 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes up-animation {
  0% {
    opacity: 0;
    translate: 0 250px;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

/* end animations */

/* utility classes */



@utility entry-animation {
  animation: entry-animation  linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}


@utility cover-animation {

  animation: cover-animation  linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@utility  up-animation {
  animation:  up-animation linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 50%;
}



@utility mask-fade-image {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@utility animate-blur-shadow-black {
  animation: blur-shadow-black linear both;
  animation-timeline: scroll();
  animation-range: 0px 700px;
}



/* end utility classes */



html {
  min-height: 100% !important;
  font-family: "Poppins", sans-serif;
  color: var(--color-theme-text);
  scroll-behavior: smooth;
}
